In [8]:
import requests
import pandas as pd

url = 'https://labdados.com/produtos'
response = requests.get(url)
dados = pd.DataFrame.from_dict(response.json())
dados['Data da Compra'] = pd.to_datetime(dados['Data da Compra'], format='%d/%m/%Y')
dados

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Modelagem preditiva,livros,92.45,5.609697,2020-01-01,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71
1,Iniciando em programação,livros,43.84,0.000000,2020-01-01,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79
2,Pandeiro,instrumentos musicais,87.18,2.226512,2020-01-01,Thiago Silva,RJ,4,cartao_credito,4,-22.25,-42.66
3,Corda de pular,esporte e lazer,13.65,1.257926,2020-01-01,Camila Ribeiro,RJ,4,boleto,1,-22.25,-42.66
4,Dinossauro Rex,brinquedos,28.32,2.039059,2020-01-01,Juliana Costa,RJ,1,cartao_debito,1,-22.25,-42.66
...,...,...,...,...,...,...,...,...,...,...,...,...
9430,Impressora,eletronicos,472.77,25.456706,2022-12-31,Camila Ribeiro,MT,4,cartao_credito,3,-12.64,-55.42
9431,Dashboards com Power BI,livros,54.85,3.451702,2022-12-31,Lucas Oliveira,RJ,5,cartao_credito,3,-22.25,-42.66
9432,Cubo mágico 8x8,brinquedos,19.74,0.000000,2022-12-31,Bianca Santos,RJ,5,cartao_credito,8,-22.25,-42.66
9433,Faqueiro,utilidades domesticas,52.49,0.000000,2022-12-31,Larissa Alves,DF,4,cartao_credito,5,-15.83,-47.86
9434,Micro-ondas,eletrodomesticos,711.30,35.459024,2022-12-31,Bianca Santos,MA,5,cartao_credito,4,-5.42,-45.44

In [29]:
qtd_vendas_categoria = dados.groupby('Categoria do Produto')[['Preço']].count()
qtd_vendas_categoria.columns = ['Quantidade vendas']
qtd_vendas_categoria

                       Quantidade vendas
Categoria do Produto
brinquedos                          1290
eletrodomesticos                    1149
eletronicos                         1772
esporte e lazer                     1113
instrumentos musicais                753
livros                               742
moveis                              1886
utilidades domesticas                730